h1 { font-family: 'MedievalSharp', cursive;
}
.App {
  text-align: left;
}


.App-header {
  background-color: #34455B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  color: #34455B;
  width: 200px;
  padding: 1%;
  font-size: 1.35rem;
  font-weight: bold;
  border: 8px solid #AD8941;
  background-color: #798487;
  font-family: 'MedievalSharp', cursive;
  border-radius: 15px;
}

@media(max-width: 500px) {
  button {
    margin-left: 10px;
  }
}

button:hover {
  background-color: #974449;
  color: white;
}